            /* -------------------------------1024px------------------------------- */
            
            @media (max-width: 1200px) {
                 :root {
                    --padding-aside: 0 100px;
                }
                .container {
                    padding: var(--padding-aside);
                }
                /* ------header------ */
                .header__wrap-one {
                    height: 80px;
                    padding: 0;
                    gap: 32px;
                }
                .header__logo {
                    display: none;
                }
                .header__logo--tablet {
                    display: flex;
                    align-items: center;
                    height: 60px;
                    width: 100%;
                }
                .header__logo-wrap--tablet {
                    background-color: var(--color-light_color);
                }
                .header__logo-tablet {
                    width: 112px;
                    height: 14px;
                }
                .nav {
                    gap: 33px;
                }
                .header__wrap-two::before {
                    top: 140px;
                }
                .age__wrap {
                    display: none;
                }
                .header__play {
                    gap: 2px;
                }
                .play-item {
                    padding-right: 23px;
                }
                .play-item:nth-child(2) {
                    padding-right: 16px;
                }
                /* ------hero------ */
                .hero__img {
                    width: 256px;
                    height: 262px;
                }
                .hero__prph {
                    max-width: 539px;
                    margin-bottom: 21px;
                }
                .hero__block:nth-child(1) {
                    padding: 83px 0;
                }
                .podcast__wrapper {
                    flex: 1 0 auto;
                }
                /* ------guests------ */
                .ac-text {
                    grid-template-columns: repeat(3, minmax(160px, 1fr));
                }
                .guests__inner-img,
                .guests__inner-img-plug {
                    width: 255px;
                    height: 159px;
                }
                .guests__prg {
                    max-width: 536px;
                }
                .ac-text {
                    gap: 16px 22px;
                }
                .guests__wrapper {
                    gap: 29px;
                }
                /* ------about------ */
                .about {
                    padding: 90px 0 93px 0;
                }
                .about__header {
                    margin-bottom: 17px;
                }
                .about__wrapper {
                    margin-bottom: 30px;
                }
                .about__block-svg--one {
                    display: none;
                }
                .form {
                    width: 100%;
                }
                .about__swiper-btn--next {
                    right: 31px;
                    top: 31%;
                }
                .about__swiper-btn--prev {
                    left: 31px;
                    top: 31%;
                }
            }
            /* -------------------------------768px-------------------------------*/
            
            @media (max-width: 992px) {
                 :root {
                    --padding-aside: 0 114px;
                }
                .container {
                    padding: var(--padding-aside);
                }
                /* ------header------ */
                .header__list {
                    max-width: 100%;
                }
                .nav {
                    gap: 26px;
                }
                .nav__list {
                    display: none;
                }
                .menu__burger {
                    width: 24px;
                    height: 3px;
                    display: block;
                    position: relative;
                    top: 0;
                    width: 24px;
                    background-color: var(--color-primary);
                    border-radius: 4px;
                    cursor: pointer;
                }
                .menu__burger::before {
                    content: "";
                    width: 24px;
                    height: 3px;
                    position: absolute;
                    top: -11px;
                    display: block;
                    width: 24px;
                    border-radius: 4px;
                    background-color: var(--color-primary);
                }
                .menu__burger::after {
                    content: "";
                    width: 24px;
                    height: 3px;
                    position: absolute;
                    top: 10px;
                    display: block;
                    width: 24px;
                    background-color: var(--color-primary);
                    border-radius: 4px;
                }
                .header__play {
                    display: none;
                    border: none;
                }
                .header__play--768 {
                    display: block;
                    cursor: pointer;
                }
                /* ------hero------ */
                .hero__img {
                    display: none;
                }
                /* ---podcast--- */
                .podcast__list {
                    flex-direction: column;
                }
                .podcast__list-item {
                    width: 100%;
                }
                .podcast__list {
                    grid-template-columns: 1fr;
                }
                /* ------guests------ */
                .guests__wrapper {
                    gap: 50px;
                    flex-direction: column;
                }
                .guests__inner-img-plug,
                .guests__inner-img {
                    width: 540px;
                    height: 220px;
                }
                .ac-text {
                    gap: 30px 30px;
                }
                .guests__text {
                    max-width: 398px;
                }
                /* ------about------ */
                .swiper {
                    margin-bottom: 32px;
                }
                .about__wrapper {
                    flex-direction: column;
                    position: relative;
                }
                .input-box {
                    flex-direction: column;
                }
                .about__block-two {
                    display: none;
                }
                .about__block-two--768 {
                    display: block;
                    display: flex;
                    justify-content: right;
                }
                .about__svg--one {
                    position: absolute;
                    left: -114px;
                }
                .swiper-img {
                    width: auto;
                    height: auto;
                }
                .about__swiper-btn--prev {
                    left: 46px;
                    top: 29%;
                }
                .about__swiper-btn--next {
                    right: 46px;
                    top: 29%;
                }
            }
            /* -------------------------------320px------------------------------- */
            
            @media (max-width: 767px) {
                 :root {
                    --padding-aside: 0 32px;
                }
                .container {
                    padding: var(--padding-aside);
                }
                /* ------header------ */
                .header__list {
                    display: none;
                }
                .header__btn-login {
                    display: none;
                }
                .header__logo-tablet {
                    width: 87px;
                    height: 10px;
                    display: block;
                }
                .header__btn-login--320 {
                    display: block;
                    padding: 9.5px 24px;
                    border: 2px solid var(--color-black);
                    border-radius: 77px;
                    font-family: 'Muller';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 16px;
                }
                .header__logo--tablet {
                    height: 54px;
                    justify-content: space-between;
                }
                .header__wrap-one {
                    height: 50px;
                }
                .header__wrap-two {
                    height: 43px;
                }
                .header__play--768 {
                    display: none;
                }
                .play--320 {
                    display: block;
                }
                .play-btn--320 {
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                }
                .play-btn-descr--320 {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: normal;
                    color: var(--color-primary);
                }
                .submenu {
                    gap: 0;
                    display: flex;
                    justify-content: center;
                }
                /* ------hero------ */
                .hero__header {
                    height: 55px;
                    gap: 9px;
                    margin-bottom: 0;
                    font-size: 32px;
                    line-height: 32px;
                }
                .hero__header .hero__header-excerpt {
                    font-size: 32px;
                }
                .hero__block:nth-child(1) {
                    padding: 23px 0;
                }
                .hero__prph {
                    font-size: 14px;
                    line-height: 21px;
                }
                .hero__btn {
                    padding: 15px 45px;
                    font-size: 16px;
                }
                /* ------guests------ */
                .ac-text {
                    grid-template-columns: repeat(2, minmax(160px, 1fr));
                }
                /* ------about------ */
                .about {
                    padding: 54px 0 52px 0;
                }
                .about__wrapper {
                    margin-bottom: 27px;
                }
                .about__header {
                    margin-bottom: 12px;
                    font-size: 24px;
                    line-height: 24px;
                }
                .about__descr {
                    margin-bottom: 4px;
                    font-size: 14px;
                    line-height: 21px;
                }
                .about__prg {
                    font-size: 14px;
                    line-height: 160%;
                }
                .about__swiper-name {
                    font-size: 14px;
                    line-height: 18px;
                }
                .about__swiper-descr {
                    font-size: 12px;
                    line-height: 16px;
                }
                .input {
                    font-size: 16px;
                }
                .form__btn {
                    font-size: 16px;
                }
                .application-checkbox .checkbox-txt {
                    font-size: 9px;
                }
                .form {
                    flex-direction: column;
                }
                .about__block-two--768 {
                    display: none;
                }
                .about__swiper-btn {
                    display: none;
                }
                .about__swiper-btn--next {
                    right: 1px;
                    top: 31%;
                }
                .about__swiper-btn--prev {
                    left: 1px;
                    top: 31%;
                }
            }
            
            @media (max-width: 480px) {
                /* ------guests------ */
                .guests {
                    padding: 54px 0;
                }
                .ac-text {
                    grid-template-columns: repeat(2, minmax(90px, 1fr));
                    gap: 28px 30px;
                }
                .guests__block {
                    margin-bottom: 28px;
                }
                .guests__header {
                    margin-bottom: 13px;
                    font-size: 24px;
                }
                .guests__descr {
                    margin-bottom: 0;
                    font-size: 14px;
                }
                .guests__prg {
                    font-size: 14px;
                }
                .ac .ac-trigger {
                    padding: 11px 0;
                    font-size: 16px;
                }
                .accordion-svg {
                    width: 30px;
                    height: 30px;
                }
                .accordion-item.ac.js-enabled.is-active .ac-text {
                    padding: 19px 0;
                }
                .guests__inner-img-plug,
                .guests__inner-img {
                    width: 256px;
                    height: 159px;
                }
                .guests__wrapper {
                    gap: 30px;
                }
                .guests__inner-svg {
                    width: 36px;
                    height: 36px;
                }
                .guests__list {
                    gap: 21px;
                }
                .guests__btn {
                    padding: 7px 13px;
                }
            }
            
            @media (max-width: 440px) {
                /* ------podcast------ */
                .podcast {
                    padding: 52px 0;
                }
                .podcast__header {
                    margin-bottom: 22px;
                    font-size: 24px;
                    line-height: 24px;
                }
                .podcast__wrapper {
                    width: 100%;
                }
                .podcast__list-item:nth-child(n+5) {
                    display: none;
                }
                .podcast__list-item {
                    flex-direction: column;
                }
                .podcast__wrapper-list {
                    padding: 16px 16px 16px 16px;
                }
                .podcast__list {
                    align-items: center;
                    margin-bottom: 30px;
                }
                .podcast__btn {
                    padding: 14.5px 30px;
                    font-size: 16px;
                }
                .podcast__data {
                    top: 0;
                }
                .podcast__img {
                    /* width: 256px; */
                    width: 100%;
                    height: 72px;
                }
                .podcast__btn-play {
                    width: 36px;
                    height: 36px;
                }
                .podcast__btn-play-svg {
                    width: 36px;
                    height: 36px;
                }
                .podcast__descr-time {
                    margin-bottom: 5px;
                }
                .podcast__descr-song {
                    margin-bottom: 0;
                    font-size: 16px;
                }
                .podcast__descr-name {
                    margin-bottom: 0;
                    font-size: 12px;
                }
                .actions__wrap {
                    padding: 5px 30px 6px 35px;
                }
                .actions__numbers {
                    font-size: 12px;
                }
                .podcast__btn-play {
                    align-self: center;
                }
                /* ------about------ */
                .swiper-slide.swiper-slide-active {
                    width: 113px;
                }
                .swiper-img {
                    width: 113px;
                }
                .swiper__pic {
                    margin-bottom: 12px;
                }
                .input-text {
                    border-radius: 20px;
                }
                .input-name,
                .input-mail {
                    height: 48px;
                    padding: 9px 10px 9px 21px;
                }
                .input-text {
                    padding: 12px 22px;
                }
                .form__btn {
                    padding: 17px 48px;
                }
                .form__wrapp-checkbox {
                    gap: 21px;
                }
                .swiper-slide {
                    width: 113px;
                }
                /* ------about------ */
                .swiper {
                    overflow: visible;
                }
            }
            
            @media (max-width: 320px) {
                /* ------about------ */
                .swiper {
                    margin-bottom: 29px;
                }
                .input-box {
                    gap: 34px;
                }
                .form__btn {
                    padding: 17px 44px;
                }
            }