            /* -------------------------------1024px------------------------------- */
            
            @media (max-width: 1310px) {
                /* ------playlist------ */
                .playlist__card {
                    flex: 1 0 254px;
                }
                .playlist__img {
                    width: 100%;
                }
            }

            @media (max-width: 1200px) {
                 :root {
                    --padding-aside: 0 100px;
                }
                .container {
                    padding: var(--padding-aside);
                }
                /* ------header------ */
                .header__wrap-one {
                    height: 80px;
                    padding: 0;
                    gap: 32px;
                }
                .header__logo {
                    display: none;
                }
                .header__logo--tablet {
                    display: flex;
                    align-items: center;
                    height: 60px;
                    width: 100%;
                }
                .header__logo-wrap--tablet {
                    background-color: var(--color-light_color);
                }
                .header__logo-tablet {
                    width: 112px;
                    height: 14px;
                }
                .nav {
                    gap: 33px;
                }
                .header__wrap-two::before {
                    top: 140px;
                }
                .age__wrap {
                    display: none;
                }
                .header__play {
                    gap: 2px;
                }
                .play-item {
                    padding-right: 23px;
                }
                .play-item:nth-child(2) {
                    padding-right: 16px;
                }
                /* ------hero------ */
                .hero__img {
                    width: 256px;
                    height: 262px;
                }
                .hero__prph {
                    max-width: 539px;
                    margin-bottom: 21px;
                }
                .hero__block:nth-child(1) {
                    padding: 83px 0;
                }
                .podcast__wrapper {
                    flex: 1 0 auto;
                }
                /* ------guests------ */
                .ac-text {
                    grid-template-columns: repeat(3, minmax(160px, 1fr));
                }
                .guests__inner-img,
                .guests__inner-img-plug {
                    width: 255px;
                    height: 159px;
                }
                .guests__prg {
                    max-width: 536px;
                }
                .ac-text {
                    gap: 16px 22px;
                }
                .guests__wrapper {
                    gap: 29px;
                }
                /* ------broadcasts------ */
                .broadcasts__wrap {
                    justify-content: start;
                    gap: 227px;
                }
            }

            @media (max-width: 1023px) {
                .broadcasts__inner:nth-child(2) {
                    display: none;
                }
                .broadcasts__wrapper {
                    flex-direction: column;
                }
                .broadcasts__wrap {
                    padding-bottom: 0;
                }
                .broadcasts__wrap-cards {
                    justify-content: center;
                    padding: 0;
                }
                .broadcasts__inner-1024 {
                    display: block;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    padding: 30px 0;
                    gap: 20px;
                }
                .broadcasts__inner-1024::before {
                    content: "";
                    top: 0;
                    width: 100vh;
                    height: 1px;
                    position: absolute;
                    background-color: var(--color-light_color);
                }
                .broadcasts__prg {
                    width: 256px;
                }
                /* ------playlist------ */
                .radio__block-desctop {
                    display: none;
                }
                .radio__block-shadow {
                    display: block;
                }
                .playlists__wrap {
                    flex-direction: column;
                    gap: 0;
                }
                .radio__list {
                    height: 165px;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    align-content: flex-start;
                    gap: 19px 35px;
                    margin-bottom: 31px;
                }
                .playlist__cards {
                    padding-top: 0;
                    padding-bottom: 42px;
                }
                .playlist__card {
                    display: flex;
                    flex: 1 0 254px;
                }
                .playlist__img {
                    width: 112px;
                    height: 112px;
                }
                .playlist__svg {
                    left: 0;
                }
                .playlist__inner {
                    width: 100%;
                    padding: 38px 8px 16px 9px;
                }
                .radio__border::before {
                    width: 100%;
                }
            }
            /* -------------------------------768px-------------------------------*/
            
            @media (max-width: 992px) {
                 :root {
                    --padding-aside: 0 114px;
                }
                .container {
                    padding: var(--padding-aside);
                }
                /* ------header------ */
                .header__list {
                    max-width: 100%;
                }
                .nav {
                    gap: 26px;
                }
                .nav__list {
                    display: none;
                }
                .menu__burger {
                    width: 24px;
                    height: 3px;
                    display: block;
                    position: relative;
                    top: 0;
                    width: 24px;
                    background-color: var(--color-primary);
                    border-radius: 4px;
                    cursor: pointer;
                }
                .menu__burger::before {
                    content: "";
                    width: 24px;
                    height: 3px;
                    position: absolute;
                    top: -11px;
                    display: block;
                    width: 24px;
                    border-radius: 4px;
                    background-color: var(--color-primary);
                }
                .menu__burger::after {
                    content: "";
                    width: 24px;
                    height: 3px;
                    position: absolute;
                    top: 10px;
                    display: block;
                    width: 24px;
                    background-color: var(--color-primary);
                    border-radius: 4px;
                }
                .header__play {
                    display: none;
                    border: none;
                }
                .header__play--768 {
                    display: block;
                    cursor: pointer;
                }
                /* ------hero------ */
                .hero__img {
                    display: none;
                }
                /* ---podcast--- */
                .podcast__list {
                    flex-direction: column;
                }
                .podcast__list-item {
                    width: 100%;
                }
                .podcast__list {
                    grid-template-columns: 1fr;
                }
                /* ------guests------ */
                .guests__wrapper {
                    gap: 50px;
                    flex-direction: column;
                }
                .guests__inner-img-plug,
                .guests__inner-img {
                    width: 540px;
                    height: 220px;
                }
                .ac-text {
                    gap: 30px 30px;
                }
                .guests__text {
                    max-width: 398px;
                }
                /* ------broadcasts------ */
                .broadcasts__wrapper {
                    gap: 0;
                }
                .broadcasts__inner {
                    margin-bottom: 45px;
                }
                .broadcasts__wrap-cards {
                    margin-bottom: 61px;
                }
                /* ------playlist------ */
                .radio__list {
                    height: 227px;
                    gap: 33px;
                }
            }
            /* -------------------------------320px------------------------------- */
            
            @media (max-width: 767px) {
                 :root {
                    --padding-aside: 0 32px;
                }
                .container {
                    padding: var(--padding-aside);
                }
                /* ------header------ */
                .header__list {
                    display: none;
                }
                .header__btn-login {
                    display: none;
                }
                .header__logo-tablet {
                    width: 87px;
                    height: 10px;
                    display: block;
                }
                .header__btn-login--320 {
                    display: block;
                    padding: 9.5px 24px;
                    border: 2px solid var(--color-black);
                    border-radius: 77px;
                    font-family: 'Muller';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 16px;
                }
                .header__logo--tablet {
                    height: 54px;
                    justify-content: space-between;
                }
                .header__wrap-one {
                    height: 50px;
                }
                .header__wrap-two {
                    height: 43px;
                }
                .header__play--768 {
                    display: none;
                }
                .play--320 {
                    display: block;
                }
                .play-btn--320 {
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                }
                .play-btn-descr--320 {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: normal;
                    color: var(--color-primary);
                }
                .submenu {
                    gap: 0;
                    display: flex;
                    justify-content: center;
                }
                /* ------hero------ */
                .hero__header {
                    height: 55px;
                    gap: 9px;
                    margin-bottom: 0;
                    font-size: 32px;
                    line-height: 32px;
                }
                .hero__header .hero__header-excerpt {
                    font-size: 32px;
                }
                .hero__block:nth-child(1) {
                    padding: 23px 0;
                }
                .hero__prph {
                    font-size: 14px;
                    line-height: 21px;
                }
                .hero__btn {
                    padding: 15px 45px;
                    font-size: 16px;
                }
                /* ------playlist------ */
                .radio__list {
                    height: auto;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    overflow-x: auto;
                }
                .radio__list::-webkit-scrollbar {
                    display: none;
                }
                .radio__name {
                    padding: 7px 23px;
                    border: 2px solid var(--color-primary);
                    border-radius: 77px;
                    white-space: nowrap;
                }
                .radio__name::before {
                    display: none;
                }
                .radio-input:checked+.radio__name {
                    color: var(--color-white);
                    background-color: var(--color-primary);
                }
                .radio-input:hover+.radio__name {
                    color: var(--color-white);
                    background-color: var(--color-primary);
                }
                .radio-input:checked+.radio__name::before {
                    display: none;
                }
                .radio-input:checked+.radio__name::after {
                    display: none;
                }
                .radio-wrap {
                    padding-top: 54px;
                }
                .radio__header {
                    margin-bottom: 6px;
                    font-size: 24px;
                }
                .radio__sub-header {
                    margin-bottom: 4px;
                    font-size: 12px;
                }
                .playlist__img {
                    width: 100%;
                    height: 100%;
                }
                .playlist__card {
                    flex-direction: column;
                }
                .playlist__inner {
                    padding: 8px 8px 8px 9px;
                }
                .playlist__name {
                    margin-bottom: 4px;
                    font-size: 12px;
                }
                .playlist__descr {
                    font-size: 9px;
                }
                .playlist__svg {
                    right: 0;
                }
                .playlist__cards {
                    padding-bottom: 31px;
                }
                .radio__prg {
                    line-height: 16px;
                    font-size: 12px;
                }
                .radio__border::before {
                    margin-bottom: 27px;
                }
                .radio__copyright {
                    font-size: 12px;
                }
                /* ------guests------ */
                .ac-text {
                    grid-template-columns: repeat(2, minmax(160px, 1fr));
                }
            }

            @media (max-width: 480px) {
                /* ------guests------ */
                .guests {
                    padding: 54px 0;
                }
                .ac-text {
                    grid-template-columns: repeat(2, minmax(90px, 1fr));
                    gap: 28px 30px;
                }
                .guests__block {
                    margin-bottom: 28px;
                }
                .guests__header {
                    margin-bottom: 13px;
                    font-size: 24px;
                }
                .guests__descr {
                    margin-bottom: 0;
                    font-size: 14px;
                }
                .guests__prg {
                    font-size: 14px;
                }
                .ac .ac-trigger {
                    padding: 11px 0;
                    font-size: 16px;
                }
                .accordion-svg {
                    width: 30px;
                    height: 30px;
                }
                .accordion-item.ac.js-enabled.is-active .ac-text {
                    padding: 19px 0;
                }
                .guests__inner-img-plug,
                .guests__inner-img {
                    width: 256px;
                    height: 159px;
                }
                .guests__wrapper {
                    gap: 30px;
                }
                .guests__inner-svg {
                    width: 36px;
                    height: 36px;
                }
                .guests__list {
                    gap: 21px;
                }
                .guests__btn {
                    padding: 7px 13px;
                }
            }

            @media (max-width: 440px) {
                /* ------podcast------ */
                .podcast {
                    padding: 52px 0;
                }
                .podcast__header {
                    margin-bottom: 22px;
                    font-size: 24px;
                    line-height: 24px;
                }
                .podcast__wrapper {
                    width: 100%;
                }
                .podcast__list-item:nth-child(n+5) {
                    display: none;
                }
                .podcast__list-item {
                    flex-direction: column;
                }
                .podcast__wrapper-list {
                    padding: 16px 16px 16px 16px;
                }
                .podcast__list {
                    align-items: center;
                    margin-bottom: 30px;
                }
                .podcast__btn {
                    padding: 14.5px 30px;
                    font-size: 16px;
                }
                .podcast__data {
                    top: 0;
                }
                .podcast__img {
                    /* width: 256px; */
                    width: 100%;
                    height: 72px;
                }
                .podcast__btn-play {
                    width: 36px;
                    height: 36px;
                }
                .podcast__btn-play-svg {
                    width: 36px;
                    height: 36px;
                }
                .podcast__descr-time {
                    margin-bottom: 5px;
                }
                .podcast__descr-song {
                    margin-bottom: 0;
                    font-size: 16px;
                }
                .podcast__descr-name {
                    margin-bottom: 0;
                    font-size: 12px;
                }
                .actions__wrap {
                    padding: 5px 30px 6px 35px;
                }
                .actions__numbers {
                    font-size: 12px;
                }
                .podcast__btn-play {
                    align-self: center;
                }
                /* ------broadcasts------ */
                .broadcasts__wrap {
                    padding-top: 54px;
                }
                .broadcasts__inner {
                    margin-bottom: 28px;
                }
                .broadcasts__wrap-cards {
                    margin-bottom: 31px;
                }
                .broadcasts__prg {
                    width: 100%;
                }
                .broadcasts-block-1024 {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 7px;
                }
                .broadcasts__wrap-cards-item {
                    flex: 1 0 255px;
                }
                .broadcasts__cards-img {
                    width: 100%;
                }
                .broadcasts__img {
                    width: 77px;
                    height: 105px;
                }
            }

            @media (max-width: 320px) {
                .broadcasts__wrap-cards-item-inner {
                    height: 99px;
                    padding: 7px 4px 12px 10px;
                    justify-content: space-between;
                }
                .broadcasts__cards-img {
                    width: 113px;
                    height: 50px;
                }
                .broadcasts__wrap-cards-item {
                    width: 113px;
                    flex-basis: 113px;
                }
                .broadcasts__header {
                    margin-bottom: 20px;
                    font-size: 24px;
                }
                .broadcasts__descr--author {
                    margin-bottom: 2px;
                    font-size: 12px;
                }
                .broadcasts__prg-name {
                    margin-bottom: 3px;
                    font-size: 12px;
                    line-height: 100%;
                }
                .broadcasts__time {
                    margin-bottom: 0;
                    font-size: 9px;
                }
                .broadcasts__cards-link {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                }
                .broadcasts__btn {
                    padding: 7px 31px;
                }
                .broadcasts__prg {
                    font-size: 14px;
                }
                .broadcasts__inner-1024 {
                    gap: 13px;
                }
            }