            /* -------------------------------1024px------------------------------- */
            
            @media (max-width: 1200px) {
                 :root {
                    --padding-aside: 0 100px;
                }
                .container {
                    padding: var(--padding-aside);
                }
                /* ------header------ */
                .header__wrap-one {
                    height: 80px;
                    padding: 0;
                    gap: 32px;
                }
                .header__logo {
                    display: none;
                }
                .header__logo--tablet {
                    display: flex;
                    align-items: center;
                    height: 60px;
                    width: 100%;
                }
                .header__logo-wrap--tablet {
                    background-color: var(--color-light_color);
                }
                .header__logo-tablet {
                    width: 112px;
                    height: 14px;
                }
                .nav {
                    gap: 33px;
                }
                .header__wrap-two::before {
                    top: 140px;
                }
                .age__wrap {
                    display: none;
                }
                .header__play {
                    gap: 2px;
                }
                .play-item {
                    padding-right: 23px;
                }
                .play-item:nth-child(2) {
                    padding-right: 16px;
                }
                /* ------hero------ */
                .hero__img {
                    width: 256px;
                    height: 262px;
                }
                .hero__prph {
                    max-width: 539px;
                    margin-bottom: 21px;
                }
                .hero__block:nth-child(1) {
                    padding: 83px 0;
                }
                /* ------broadcasts------ */
                .broadcasts__wrap {
                    justify-content: start;
                    gap: 227px;
                }
            }
            
            @media (max-width: 1023px) {
                .broadcasts__inner:nth-child(2) {
                    display: none;
                }
                .broadcasts__wrapper {
                    flex-direction: column;
                }
                .broadcasts__wrap {
                    padding-bottom: 0;
                }
                .broadcasts__wrap-cards {
                    justify-content: center;
                    padding: 0;
                }
                .broadcasts__inner-1024 {
                    display: block;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    padding: 30px 0;
                    gap: 20px;
                }
                .broadcasts__inner-1024::before {
                    content: "";
                    top: 0;
                    width: 100vh;
                    height: 1px;
                    position: absolute;
                    background-color: var(--color-light_color);
                }
                .broadcasts__prg {
                    width: 256px;
                }
            }
            /* -------------------------------768px-------------------------------*/
            
            @media (max-width: 992px) {
                 :root {
                    --padding-aside: 0 114px;
                }
                .container {
                    padding: var(--padding-aside);
                }
                /* ------header------ */
                .header__list {
                    max-width: 100%;
                }
                .nav {
                    gap: 26px;
                }
                .nav__list {
                    display: none;
                }
                .menu__burger {
                    width: 24px;
                    height: 3px;
                    display: block;
                    position: relative;
                    top: 0;
                    width: 24px;
                    background-color: var(--color-primary);
                    border-radius: 4px;
                    cursor: pointer;
                }
                .menu__burger::before {
                    content: "";
                    width: 24px;
                    height: 3px;
                    position: absolute;
                    top: -11px;
                    display: block;
                    width: 24px;
                    border-radius: 4px;
                    background-color: var(--color-primary);
                }
                .menu__burger::after {
                    content: "";
                    width: 24px;
                    height: 3px;
                    position: absolute;
                    top: 10px;
                    display: block;
                    width: 24px;
                    background-color: var(--color-primary);
                    border-radius: 4px;
                }
                .header__play {
                    display: none;
                    border: none;
                }
                .header__play--768 {
                    display: block;
                    cursor: pointer;
                }
                /* ------hero------ */
                .hero__img {
                    display: none;
                }
                /* ------broadcasts------ */
                .broadcasts__wrapper {
                    gap: 0;
                }
                .broadcasts__inner {
                    margin-bottom: 45px;
                }
                .broadcasts__wrap-cards {
                    margin-bottom: 61px;
                }
            }
            /* -------------------------------320px------------------------------- */
            
            @media (max-width: 767px) {
                 :root {
                    --padding-aside: 0 32px;
                }
                .container {
                    padding: var(--padding-aside);
                }
                /* ------header------ */
                .header__list {
                    display: none;
                }
                .header__btn-login {
                    display: none;
                }
                .header__logo-tablet {
                    width: 87px;
                    height: 10px;
                    display: block;
                }
                .header__btn-login--320 {
                    display: block;
                    padding: 9.5px 24px;
                    border: 2px solid var(--color-black);
                    border-radius: 77px;
                    font-family: 'Muller';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 16px;
                }
                .header__logo--tablet {
                    height: 54px;
                    justify-content: space-between;
                }
                .header__wrap-one {
                    height: 50px;
                }
                .header__wrap-two {
                    height: 43px;
                }
                .header__play--768 {
                    display: none;
                }
                .play--320 {
                    display: block;
                }
                .play-btn--320 {
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                }
                .play-btn-descr--320 {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: normal;
                    color: var(--color-primary);
                }
                .submenu {
                    gap: 0;
                    display: flex;
                    justify-content: center;
                }
                /* ------hero------ */
                .hero__header {
                    height: 55px;
                    gap: 9px;
                    margin-bottom: 0;
                    font-size: 32px;
                    line-height: 32px;
                }
                .hero__header .hero__header-excerpt {
                    font-size: 32px;
                }
                .hero__block:nth-child(1) {
                    padding: 23px 0;
                }
                .hero__prph {
                    font-size: 14px;
                    line-height: 21px;
                }
                .hero__btn {
                    padding: 15px 45px;
                    font-size: 16px;
                }
                /* ------broadcasts------ */
                .broadcasts__wrap {
                    padding-top: 54px;
                }
                .broadcasts__inner {
                    margin-bottom: 28px;
                }
                .broadcasts__wrap-cards {
                    margin-bottom: 31px;
                }
                .broadcasts__prg {
                    width: 100%;
                }
                .broadcasts-block-1024 {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 7px;
                }
                .broadcasts__wrap-cards-item {
                    /* flex-grow: 1;
                    flex-basis: 255px; */
                }
                .broadcasts__img {
                    width: 77px;
                    height: 105px;
                }
            }
            
            @media (max-width: 320px) {
                .broadcasts__wrap-cards-item-inner {
                    height: 99px;
                    padding: 7px 4px 12px 10px;
                    justify-content: space-between;
                }
                .broadcasts__wrap-cards {
                    /* display: grid;
                    grid-template-columns: repeat(2, minmax(113px, 1fr)); */
                    /* flex-grow: 1;
                    flex-basis: 113px; */
                }
                .broadcasts__cards-img {
                    width: 113px;
                    height: 50px;
                }
                .broadcasts__wrap-cards-item {
                    flex-grow: 1;
                    flex-basis: 113px;
                }
                .broadcasts__header {
                    margin-bottom: 20px;
                    font-size: 24px;
                }
                .broadcasts__descr--author {
                    margin-bottom: 2px;
                    font-size: 12px;
                }
                .broadcasts__prg-name {
                    margin-bottom: 3px;
                    font-size: 12px;
                    line-height: 100%;
                }
                .broadcasts__time {
                    margin-bottom: 0;
                    font-size: 9px;
                }
                .broadcasts__cards-link {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                }
                .broadcasts__btn {
                    padding: 7px 31px;
                }
                .broadcasts__prg {
                    font-size: 14px;
                }
                .broadcasts__inner-1024 {
                    gap: 13px;
                }
            }